/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.login-grid {
  height: 100vh;
}

.login-column {
  min-width: 390px;
  min-height: 450px;
}

.cursor-pointer:hover {
  cursor: pointer;
  color:black;
}

@media only screen and (max-width: 767px) {
  #hide-mobile-only {
    display: none;
  }

  #show-background-mobile-only {
    background-image: url('/helloworld.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  }
}

@media only screen and (min-width: 767px) {
  #show-mobile-only {
    display: none;
  }
}

#border-height {
  height: 200px;
}